body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px 0;
}

header .logo img {
    max-width: 150px;
}

section {
    padding: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.services, .employees {
    width: 100%;
    max-width: 1200px; /* Establece un ancho máximo para centrar el contenido */
    margin: 0 auto; /* Centra la sección horizontalmente */
}

.swiper-container {
    width: 100%;
    height: 300px; /* Ajusta la altura según tus necesidades */
    position: relative; /* Necesario para el posicionamiento de los elementos hijos */
}

.swiper-slide {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    text-align: center;
    position: relative; /* Necesario para el posicionamiento absoluto de la descripción */
}

.swiper-slide img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto;
    border-radius: 8px;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    bottom: 10px; /* Coloca la descripción en la parte inferior */
    left: 50%;
    transform: translateX(-50%); /* Centra la descripción horizontalmente */
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para la legibilidad */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    width: calc(100% - 20px); /* Asegura que el contenido no se salga del carrusel */
}

.info h3 {
    font-size: 16px; /* Tamaño de fuente para los títulos de los servicios */
    margin: 0;
}

.info p {
    font-size: 14px; /* Tamaño de fuente para las descripciones */
    margin: 5px 0 0;
}

.swiper-button-next, .swiper-button-prev {
    color: #000;
}

.swiper-pagination-bullet {
    background: #000;
}

/* General responsive design */
@media (max-width: 768px) {
    .swiper-slide {
        width: 100%;
        text-align: center;
    }

    .swiper-container {
        width: 100%;
        height: auto;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
    }

    .info {
        font-size: 14px;
        padding: 8px;
    }

    .info h3 {
        font-size: 14px;
    }

    .info p {
        font-size: 12px;
    }
}
